<div class="main-content">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Change Password</h4>
      </div>
      <div class="card-body">
        <div class="row mb50">
          <div class="col-md-12">
            <div class="border_box border_none">
              <form #changePasswordForm="ngForm"
                [mustMatch]="['newPassword', 'confirmPassword']" novalidate>
                <div class="row">
                  <div class="col-md-12 textbox-full-width textbox-full-width-pb20">
                    <mat-form-field>
                      <mat-label>Old Password</mat-label>
                      <input matInput type="password" required name="oldPassword" id="oldPassword"
                        [(ngModel)]="changePassword.oldPassword" #oldPassword="ngModel" required>
                    </mat-form-field>
                    <div *ngIf="(oldPassword.dirty || oldPassword.touched) && oldPassword.invalid">
                      <mat-error class="text-left" *ngIf="oldPassword.errors.required">
                        Old Password is required
                      </mat-error>
                      <mat-error class="text-left" *ngIf="oldPassword.errors.pattern">
                        Old Password is Invalid
                      </mat-error>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 textbox-full-width textbox-full-width-pb20">
                    <mat-form-field>
                      <mat-label>New Password</mat-label>
                      <input matInput type="password" required name="newPassword" id="newPassword"
                        [(ngModel)]="changePassword.newPassword" #newPassword="ngModel"
                        (blur)="changePassword.newPassword = sharedService.trimming_function(changePassword.newPassword)" required minlength="6">
                    </mat-form-field>
                    <div *ngIf="(newPassword.dirty || newPassword.touched) && newPassword.invalid">
                      <mat-error class="text-left" *ngIf="newPassword.errors.required">
                        Password is required
                      </mat-error>
                      <mat-error class="text-left" *ngIf="newPassword.errors.minlength">
                        Password must be at least 6 characters
                      </mat-error>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 textbox-full-width">
                    <mat-form-field>
                      <mat-label>Confirm Password</mat-label>
                      <input matInput type="password" required name="confirmPassword" id="confirmPassword"
                        [(ngModel)]="changePassword.confirmPassword" #confirmPassword="ngModel"
                        (blur)="changePassword.confirmPassword = sharedService.trimming_function(changePassword.confirmPassword)" required>
                    </mat-form-field>
                    <div *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.invalid">
                      <mat-error class="text-left" *ngIf="confirmPassword.errors.required">
                        Confirm Password is required
                      </mat-error>
                      <mat-error class="text-left" *ngIf="confirmPassword.errors.mustMatch">
                        Passwords must match
                      </mat-error>
                    </div>
                  </div>
                </div>
                <div class="row mt20">
                  <div class="col-md-12 text-right">
                      <a (click)="onSave(changePasswordForm)"  style="cursor: pointer" [disabled]="changePasswordForm.invalid || changePassword.password !== changePassword.confirmPassword" [ngClass]="(changePasswordForm.invalid || changePassword.password != changePassword.confirmPassword) ? 'btn btn-info disable-btn disable' : 'btn btn-info add-btn'">
                        Save
                      <i class="fa fa-spin fa-spinner" *ngIf="loader"></i>
                     </a>  
                    <button type="button" class="btn btn-danger btn_d_consist ml15" (click)="onCancel()">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>