<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<!-- <div class="card-header">
						<h4 class="card-title m-0" *ngIf="!editable">Add Bug</h4>
						<h4 class="card-title m-0" *ngIf="editable">Edit Bug</h4>
					</div> -->
					<div class="card-body">
						<form [formGroup]='bugsForm'>
							<div class="row">
								<div class="col-md-12">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Bug Title" name="bug_title"
											formControlName="bug_title">
									</mat-form-field>
									<mat-error *ngIf="bugsForm.get('bug_title').invalid">
										Bug title is required
									</mat-error>
								</div>
							</div>
							<!-- DropDown Start-->
							<div class="row">
								<div class="col-md-12" *ngIf="employees.length">
									<ng-select placeholder="Select an developer" [items]="employees"
										formControlName="developer" bindLabel="value" bindValue="_id" [multiple]="true"
										[clearable]="false">
									</ng-select>
									<mat-error *ngIf="bugsForm.get('developer').invalid"> Please Select a
										developer
									</mat-error>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<ng-select [items]="bugStatus" bindLabel="status" placeholder="Select an Bug Status"
										formControlName="bugstatus" bindValue="_id" [clearable]="false">
									</ng-select>
									<mat-error *ngIf="bugsForm.get('bugstatus').invalid"> Please Select a
										Bug Status
									</mat-error>
								</div>
								<div class="col-md-6">
									<ng-select [items]="projects" bindLabel="project_name"
										placeholder="Select an project" formControlName="project" bindValue="_id"
										[clearable]="false">
									</ng-select>
									<mat-error *ngIf="bugsForm.get('project').invalid"> Please Select a
										Project
									</mat-error>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<ng-select [items]="bugsType" bindLabel="bug_types" placeholder="Select an Bug Type"
										bindValue="_id" formControlName="bugtype" [clearable]="false">
									</ng-select>
									<mat-error *ngIf="bugsForm.get('bugtype').invalid">
										Bug Type is required
									</mat-error>
								</div>
								<div class="col-md-4">
									<ng-select [items]="bugsPriority" bindLabel="priority"
										placeholder="Select an Priority" bindValue="_id" formControlName="priority"
										[clearable]="false">
									</ng-select>
									<mat-error *ngIf="bugsForm.get('priority').invalid">
										Bug Priority is required
									</mat-error>
								</div>
								<div class="col-md-4">
									<mat-form-field class="datepicker-color">
										<input formControlName="start_date" (dateInput)="startDate('input', $event)"
											(click)="picker2.open()" (dateChange)="startDate('change', $event)" matInput
											[matDatepicker]="picker2" placeholder="Start Date">
										<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
										<mat-datepicker #picker2></mat-datepicker>
									</mat-form-field>
								</div>
							</div>
							<!--Dropdown End -->
							<div class="row">

								<div class="col-md-6">
									<button mat-stroked-button type="button" (click)="filePicker.click()">
										Select An Image
									</button>
									<input type="file" #filePicker (change)="onImageClick($event)">
								</div>
								<div class="col-md-6" class="image-preview"
									*ngIf="imagePreview && imagePreview !== '' && bugsForm.get('fileSource').valid">
									<img [src]="imagePreview" [alt]="bugsForm.value.title">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<!-- <mat-label>Bug Description</mat-label> -->
									<!-- <mat-form-field>
										
										<textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
											cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" id="bug_description"
											name="bug_description" formControlName="bug_description">
											</textarea>
									</mat-form-field>
									<mat-error class="text-left" *ngIf="bugsForm.get('bug_description').invalid">
										Bug Description is required
									</mat-error> -->
									<ckeditor formControlName="bug_description"  *ngIf="!view_id"></ckeditor>
									<ckeditor formControlName="bug_description" readOnly="true" *ngIf="view_id"></ckeditor>
								</div>
							</div>

							<div class="row mt20">
								<div class="col-md-12 text-right">
									<span class="pull-right mb15">
										<button type="submit" *ngIf="!editable && !view_id"
											[disabled]="bugsForm.invalid"
											[ngClass]="bugsForm.invalid ? 'btn btn-info disable-btn disable' : 'btn btn-info'"
											(click)="onSave('save')" class="mr-2">
											<i class="fa fa-spin fa-spinner" *ngIf="loader"></i>Add</button>
										<button type="submit" *ngIf="editable && !view_id" [disabled]="bugsForm.invalid"
											[ngClass]="bugsForm.invalid ? 'btn btn-info disable-btn disable' : 'btn btn-info'"
											(click)="onSave('update')" class="mr-2"><i class="fa fa-spin fa-spinner"
												*ngIf="loader"></i>Update</button>
										<button type="button" class="btn btn-danger" [routerLink]="['/bugs']"
											*ngIf="!view_id">Cancel</button>
										<button type="button" class="btn btn-danger" [routerLink]="['/project']"
											*ngIf="view_id">Back</button>
									</span>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>