<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-danger">
      <div class="col-md-12">
        <div class="row">
          <div class="col-6">
            <h4 class="card-title ">Project Details</h4>
          </div>
          <div class="col-6">
            <a class="pull-right" mat-button (click)="onCancle()">
              <span class="material-icons">
                clear
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table width="100%">
          <tr>
            <th width="8%" class="text-primary"> Project No: </th>
            <td width="8%">{{viewContent?.project_no}} </td>
          </tr>

          <tr>
            <th width="8%" class="text-primary"> Project No: </th>
            <td width="8%">{{viewContent?.project_name}} </td>
          </tr>

          <tr>
            <th width="8%" class="text-primary"> Tachnology: </th>
            <td width="8%">{{viewContent?.technology_id}} </td>
          </tr>

          <tr>
            <th width="8%" class="text-primary"> Department: </th>
            <td width="8%">{{viewContent?.departmentId.department}} </td>
          </tr>

          <tr>
            <th width="8%" class="text-primary"> Project Manager: </th>
            <td width="8%">{{viewContent?.project_manager.first_name}} </td>
          </tr>

          <tr>
            <th width="8%" class="text-primary"> Emplopyee Name: </th>
            <td width="8%">{{viewContent?.employee_id}} </td>
          </tr>

          <tr>
            <th width="8%" class="text-primary"> Start Date: </th>
            <td width="8%">
              <span *ngIf="viewContent?.start_date !== null">
                {{viewContent?.start_date | dateFormatPipe}}
              </span>
              <span *ngIf="viewContent?.start_date == null"> - </span>
            </td>
          </tr>

          <tr>
            <th width="8%" class="text-primary"> End Date: </th>
            <td width="8%">
              <span *ngIf="viewContent?.end_date !== null">
                {{viewContent?.end_date | dateFormatPipe}}
              </span>
              <span *ngIf="viewContent?.end_date == null"> - </span>
            </td>
          </tr>

          <tr>
            <th width="8%" class="text-primary"> Status: </th>
            <td width="8%">{{viewContent?.status.value}} </td>
          </tr>

          <tr>
            <th width="8%" class="text-primary">Description: </th>
            <td width="8%">{{viewContent?.project_description}} </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>