<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 mt-3">
  
          <button mat-button (click)="showFilterBox()" mat-flat-button color="primary" class="mr-3">Filter
            <span class="material-icons">
              filter_alt
            </span>
          </button>
  
        </div>
        <div class="col-md-12">
          <div class="card" *ngIf="showFilter">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-md-6 mb-2">
                  <app-search-textbox (resetIndex)="resetIndex($event)" (searchEvent)="receiveSearchValue($event)"
                    [message]="send">
                  </app-search-textbox>
                </div>
                <div class="col-md-2 mb-2">
                  <button mat-raised-button [routerLink]="['/bugsType/add-bugtype']"
                    class="mat-focus-indicator text-left mat-button mat-flat-button mat-button-base mat-primary">Add
                    Bug Type</button>
                </div>
                <div class="col-md-2 mb-2">
                  <button style="float:left" mat-raised-button (click)="resetFilter()"
                    class="mat-focus-indicator text-left mat-button mat-flat-button mat-button-base mat-secondary">Reset
                    Filter</button>
                </div>
              </div>
            </div>
          </div>
  
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-4">
                  <!-- <h3 class="card-title ">Technology List</h3> -->
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSortDisableClear matSort
                  class="mat-elevation-z8 table-hover" class="table-bordered" width="100%" *ngIf="length > 0">
                  <!-- <ng-container matColumnDef="no">
                    <th width="33%" (click)="sortItem('no')" mat-header-cell *matHeaderCellDef mat-sort-header
                      class="text-primary"> No </th>
                    <td width="8%" mat-cell *matCellDef="let element ; let i = index"> {{i + 1}} </td>
                  </ng-container> -->
  
                  <ng-container matColumnDef="bugType">
                    <th width="33%" (click)="sortItem('technology')" mat-header-cell *matHeaderCellDef mat-sort-header
                      class="text-primary">
                      Bug Type Name </th>
                    <td width="20%" mat-cell *matCellDef="let element"> {{element?.bug_types}} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="action">
                    <th width="33%" mat-header-cell *matHeaderCellDef class="text-left text-primary"> Action </th>
                    <td width="15%" mat-cell *matCellDef="let element" class="text-left">
                      <div class="d-flex align-items-center">
                        <a [routerLink]="'/bugsType/edit-bugType/' + element._id" matTooltip="Edit"
                          [matTooltipPosition]="'above'" matTooltipClass="mat_pop"
                          class="btn btn-light-warning btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </a>
                        <a href="javascript:void(0)" matTooltip="Delete" [matTooltipPosition]="'above'"
                          matTooltipClass="mat_pop" class="btn btn-light-danger btn-sm btn-just-icon"
                          (click)="openDialog(element._id)"><i class="material-icons">delete</i>
                        </a>
                      </div>
                    </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="length == 0" class="text-center font16 mt15 mb15 pt-4">
                  No Record Found
                  <hr>
                </div>
              </div>
            </div>
            <div>
              <app-pagination [childMessage]="length" [index]="index" (messageEvent)="receiveMessage($event)">
              </app-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>