<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mt-3 d-flex flex-wrap align-items-center justify-space-between">

        <button mat-button (click)="showFilterBox()" mat-flat-button color="primary" class="mr-3">Filter
          <span class="material-icons">
            filter_alt
          </span>
        </button>

        <div class="right-button">
          <button mat-raised-button [routerLink]="['/bugs/add-bug']"
            class="mat-focus-indicator text-left mat-button mat-flat-button mat-button-base button-primary mat-primary mat-raised-button"
            style="float:left;" *ngIf="!project_id">Add Bugs</button>

          <button mat-raised-button [routerLink]="'/bugs/add-bug/' + project_id"
            class="mat-focus-indicator text-left mat-button mat-flat-button mat-button-base button-primary mat-primary mat-raised-button"
            style="float:left;" *ngIf="project_id">Add Bugs</button>
        </div>

      </div>
      <div class="col-md-12" *ngIf="showFilter">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <form [formGroup]="searchForm" (submit)="applyFilter()">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Please Enter Bug Title" name="searchTitle" formControlName="searchTitle">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <ng-select placeholder="Please select a project" [items]="projects" bindLabel="project_name" bindValue="_id"
                        formControlName="project_id" [clearable]="false">
                      </ng-select>
                    </div>
                    <div class="col-md-4">
                      <ng-select placeholder="Please select a devloper" [items]="employees" bindLabel="first_name" bindValue="_id"
                         formControlName="employee_id" [clearable]="false"  [searchable]="true">
                      </ng-select>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-4">
                      <ng-select placeholder="Please select a bug status" [items]="bugStatus" bindLabel="status" bindValue="_id"
                        formControlName="bug_status" [clearable]="false" [searchable]="true">
                      </ng-select>
                    </div>
                    <div class="col-md-4">
                      <ng-select placeholder="Please select a bug type" [items]="bugsType" bindLabel="bug_types" bindValue="_id"
                        formControlName="bug_type" [clearable]="false" [searchable]="true">
                      </ng-select>
                    </div> 
                    <div class="col-md-4">
                      <ng-select placeholder="Please select a bug priority" [items]="bugsPriority" bindLabel="priority" bindValue="_id"
                        formControlName="bug_priority" [clearable]="false" [searchable]="true">
                      </ng-select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 mt-3">
                      <button mat-button type="submit" mat-flat-button color="primary" class="mr-3"> Search
												<span class="material-icons">
													search
												</span>
											</button>

											<button mat-button mat-flat-button type="reset" (click)="resetFilter()" color="warn"
												class="mr-3">
												Reset
												<span class="material-icons">
													clear
												</span>
											</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">

        <div class="card">

          <div class="card-body">
            <div class="table-responsive">

              <table mat-table [dataSource]="dataSource" matSortDisableClear matSort
                class="mat-elevation-z8 table-hover" class="table-bordered" width="100%" *ngIf="length > 0">

                <ng-container matColumnDef="no">
                  <th width="8%" (click)="sortItem('no')" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-primary">
                    No </th>
                  <td width="8%" mat-cell *matCellDef="let element; let i = index"> {{i + 1}}</td>
                </ng-container>

                <ng-container matColumnDef="title">
                  <th width="8%" (click)="sortItem('title')" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-primary">
                    Bug Title </th>
                  <td width="8%" mat-cell *matCellDef="let element"> {{element?.bug_title}}</td>
                </ng-container>

                <ng-container matColumnDef="project_name">
                  <th width="8%" (click)="sortItem('project_name')" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-primary">
                    Project Name </th>
                  <td width="8%" mat-cell *matCellDef="let element"> {{element?.project_id?.project_name}}</td>
                </ng-container>

                <ng-container matColumnDef="devloper">
                  <th width="8%" (click)="sortItem('devloper')" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-primary">
                    Developer Name </th>
                  <td width="8%" mat-cell *matCellDef="let element"> {{element?.employee_id?.first_name}}</td>
                </ng-container>

                <ng-container matColumnDef="bug_status">
                  <th width="8%" (click)="sortItem('bug_status')" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-primary">
                    Status </th>
                  <td width="8%" mat-cell *matCellDef="let element"> {{element?.bug_status?.status}}</td>
                </ng-container>

                <ng-container matColumnDef="bug_type">
                  <th width="8%" (click)="sortItem('bug_type')" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-primary">
                    Type </th>
                  <td width="8%" mat-cell *matCellDef="let element"> {{element?.bug_type?.bug_types}}</td>
                </ng-container>

                <ng-container matColumnDef="bug_priority">
                  <th width="8%" (click)="sortItem('bug_priority')" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-primary">
                    Priority </th>
                  <td width="8%" mat-cell *matCellDef="let element"
                    [ngClass]="{'high': element?.bug_priority?.priority == 'High', 'medium': element?.bug_priority?.priority == 'Medium','low': element?.bug_priority?.priority == 'Low'}">
                    {{element?.bug_priority?.priority}}</td>
                </ng-container>

                <!-- <ng-container matColumnDef="bug_description">
                  <th width="8%" (click)="sortItem('bug_description')" mat-header-cell *matHeaderCellDef mat-sort-header
                    class="text-primary">
                    Description </th>
                  <td width="8%" mat-cell *matCellDef="let element"> {{element?.bug_description}}</td>
                </ng-container> -->

                <ng-container matColumnDef="action">
                  <th width="15%" mat-header-cell *matHeaderCellDef class="text-left text-primary"> Action </th>
                  <td width="15%" mat-cell *matCellDef="let element" class="text-left">
                    <div class="d-flex align-items-center justify-content-content">
                      <a  (click)="getBugDetails(element)" matTooltip="Add Comment" [matTooltipPosition]="'above'"
                        matTooltipClass="mat_pop" class="btn btn-light-primary btn-sm btn-just-icon">
                        <i class="material-icons">add_circle</i>
                      </a>
                      <a [routerLink]="'/bugs/view-bug/' + element._id"matTooltip="View" [matTooltipPosition]="'above'"
                        matTooltipClass="mat_pop" class="btn btn-light-success btn-sm btn-just-icon" >
                        <i class="material-icons">visibility</i>
                      </a>
                      <a [routerLink]="'/bugs/edit-bug/' + element._id" matTooltip="Edit" [matTooltipPosition]="'above'"
                        matTooltipClass="mat_pop" class="btn btn-light-warning btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                      </a>
                      <!-- <a href="javascript:void(0)" matTooltip="Delete" [matTooltipPosition]="'above'"
                        matTooltipClass="mat_pop" class="btn btn-light-danger btn-sm btn-just-icon"
                        (click)="openDialog(element._id)"><i class="material-icons">delete</i>
                      </a> -->
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              </table>

              <div *ngIf="length == 0" class="text-center font16 mt15 mb15 pt-4">
                No Record Found
                <hr>
              </div>
            </div>
          </div>
          <div>
            <app-pagination *ngIf="length" [childMessage]="length" [index]="index"
              (messageEvent)="receiveMessage($event)">
            </app-pagination>
          </div>

        </div>
      </div>
    </div>
  </div>
