<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Add Project</h4>
          </div>
          <div class="card-body">
            <form (submit)="onSave()" [formGroup]='projectForm'>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Project No" name="project_no" formControlName="project_no" type="number">
                  </mat-form-field>
                  <mat-error *ngIf="projectForm.get('project_no').invalid">
                   Project no is required
                  </mat-error>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Project Name" name="project_name" formControlName="project_name">
                  </mat-form-field>
                  <mat-error *ngIf="projectForm.get('project_name').invalid">
                    Project Name is required
                  </mat-error>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <ng-select  [items]="technologys"
                                  bindLabel="tech_name"
                                  placeholder="Select an Technology"
                                  bindValue="_id"
                                  [multiple]="true"
                                  formControlName="technology">
                          <ng-template ng-footer-tmp>
                          <div class="create-new" (click)="CreateNew()">Create New </div>
                          </ng-template>
                      </ng-select>
                      <mat-error *ngIf="projectForm.get('technology').invalid"> Please Select a
                        Technology
                     </mat-error>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <ng-select  [items]="departments"
                      bindLabel="department"
                      placeholder="Select an Department"
                      bindValue="_id"
                      formControlName="department">
                  </ng-select>
                  <mat-error *ngIf="projectForm.get('department').invalid"> Please Select a
                        Department
                  </mat-error>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <ng-select  [items]="employees"
                      bindLabel="first_name"
                      placeholder="Select an employee"
                      bindValue="_id"
                      [multiple]="true"
                      formControlName="employee">
                  </ng-select>
                   <mat-error *ngIf="projectForm.get('employee').invalid"> Please Select a
                        employee
                   </mat-error>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <mat-form-field class="datepicker-color">
                          <input matInput (dateChange)="filterDate()"  [matDatepicker]="picker"
                            placeholder="Start Date" id="start_date" 
                            name="start_date"  formControlName="start_date">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker disabled="false"></mat-datepicker>
                        </mat-form-field>
                        <mat-error *ngIf="projectForm.get('start_date').invalid">
                          Start Date is required
                        </mat-error>
                  </div>
                  <div class="col-md-4">
                      <mat-form-field class="datepicker-color">
                          <input matInput [min]="start_date" (dateChange)="filterDate()"
                            [matDatepicker]="picker1" placeholder="End Date"name="end_date" formControlName="end_date">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                        </mat-form-field>
                        <mat-error *ngIf="projectForm.get('end_date').invalid">
                          End Date is required
                        </mat-error>
                  </div>
                  <div class="col-md-4">
                      <ng-select  [items]="allStatus"
                                  bindLabel="viewValue"
                                  placeholder="Select an status"
                                  bindValue="value"
                                  formControlName="status">
                      </ng-select>
                      <mat-error *ngIf="projectForm.get('status').invalid">
                        Status is required
                      </mat-error>
                  </div>
              </div>
              <div class="row">
								<div class="col-md-12">
									<mat-form-field>
											<mat-label>Project Description</mat-label>
											<textarea matInput
												cdkTextareaAutosize
												#autosize="cdkTextareaAutosize"
												cdkAutosizeMinRows="1"
												cdkAutosizeMaxRows="5" id="project_description"
                        name="project_description" formControlName="project_description">
											</textarea>
										</mat-form-field>
                    <mat-error class="text-left"
                    *ngIf="projectForm.get('project_description').invalid">
                       Project Description is required
                  </mat-error>
								</div>
              </div>
              <div class="row mt20">
                  <div class="col-md-12 text-right">
                    <!-- <a type="submit"  style="cursor: pointer" 
                    [ngClass]="
                      !projectForm.valid
                      ? 'btn btn-info disable-btn full_wid disable'
                      : 'btn btn-info full_wid'">
                      Save
                    <i class="fa fa-spin fa-spinner" *ngIf="loader"></i>
                    </a>   -->
               <!--  <button type="button" class="btn btn-danger btn_d_consist ml15" [routerLink]="['/project']">Cancel</button> -->
                  <button mat-raised-button type="submit" class="btn btn-info full_wid"
                  [disabled]="projectForm.invalid">
                  <i class="fa fa-spin fa-spinner" *ngIf="loader"></i>
                  Save</button>
                  <button mat-raised-button class="btn btn-danger btn_d_consist ml15" [routerLink]="['/project']"
                  routerLinkActive="router-link-active">Cancel</button>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>