<mat-form-field>
  <!-- <mat-label>{{labelText}}</mat-label> -->
  <input matInput [(ngModel)]="searchValue" value="searchValue" placeholder="{{labelText}}" name="searchValue"
    (keydown.enter)="search($event.target.value)">
  <mat-icon matSuffix>
    <button mat-button mat-flat-button color="warn" *ngIf="searchValue; else empty" (click)="cancel(searchValue)">
      <span class="material-icons">
        clear
      </span>
    </button>
    <ng-template #empty>
      <button mat-button mat-flat-button color="primary">
        <span class="material-icons">
          search
        </span>
      </button>
    </ng-template>
  </mat-icon>
</mat-form-field>
