<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				
				<div class="card">
					<div class="card-body">
						
						<div class="dicusstion-title">
							<h3>Discussion</h3>
						</div>

						<div class="add-task-here">

							<div class="text-area">
								<div class="user-img">
									<span>MT</span>
								</div>
								<textarea cols="5" class="form-control"></textarea>
							</div>

							<div class="mention mt-3">
								<span>@mention people to nitify them about this comment</span>
							</div>

							<div class="button-group mt-3">
								<button mat-button (click)="showFilterBox()" mat-flat-button color="primary" class="mr-3">Filter</button>
								<button mat-raised-button (click)="resetFilter()" class="mat-focus-indicator text-left mat-button mat-flat-button mat-button-base mat-secondary">Reset </button>
							</div>

							<div class="user-detail">
								<div class="user-img">
									<span>MT</span>
								</div>
								<div class="user-content">
									<div class="title">
										<h4>Max T.</h4> <span>2 hour ago - #12</span>
									</div>
									<div class="discrip">
										<div class="screenshot-text">
											<span><a href="#">https://loremipsumdolor</a> </span>
										</div>
										<div class="fix-text">
											<span>Please fix that</span>
										</div>
										<div class="normal-text">
											<h5>MT (6/18) : <a href="#">https://loremipsumdolor</a></h5>
										</div>
									</div>
								</div>
							</div>

							<div class="user-detail">
								<div class="user-img">
									<img src="https://www.w3schools.com/howto/img_avatar.png" />
								</div>
								<div class="user-content">
									<div class="title">
										<h4>Max T.</h4> <span>2 hour ago - #12</span>
									</div>
									<div class="discrip">
										<div class="screenshot-text">
											<span><a href="#">https://loremipsumdolor</a> </span>
										</div>
										<div class="fix-text">
											<span>Please fix that</span>
										</div>
										<div class="normal-text">
											<h5>MT (6/18) : <a href="#">https://loremipsumdolor</a></h5>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>